{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2>Employee Feedback Analysis</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form action="/analyze" method="POST">

        <textarea
            name="feedback_text"
            rows="10"
            placeholder="Enter one feedback per line..."
            required></textarea>

        <br><br>

        <button class="btn" type="submit">
            Analyze Feedback
        </button>

    </form>

</div>

{% endblock %}
